section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: aliceblue;
  padding: 15px;
}
button {
  width: 100px;
  background-color: darkred;
  color: wheat;
  height: 35px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
button:hover {
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
  transition: all ease-in-out 0.3s;
}
